<h1>Book Flight</h1>

<p><strong>Departure Airport:</strong> <%= @flight.from_airport.code %></p>
<p><strong>Arrival Airport:</strong> <%= @flight.to_airport.code %></p>
<p><strong>Departure Time:</strong> <%= @flight.departure_time %></p>
<p><strong>Flight ID:</strong> <%= @flight.id %></p>



<%= form_with model: @booking, local: true do |f| %>
  Passengers:
  <ul>
    <%= f.fields_for :passengers do |p| %>
      <li>
        <%= p.label :name %>
        <%= p.text_field :name %><BR>
        <%= p.label :email %>
        <%= p.text_field :email %><BR>
        <%= p.hidden_field :flight_id, value: @flight.id %>
      </li>
    <% end %>
  </ul>
  <%= f.hidden_field :flight_id, value: @flight.id %>
  <%= f.submit "Create Booking" %>
<% end %>